        <!-- Primary Meta Tags -->
<title>Eclipse - Chatting just got simpler</title>
<meta name="title" content="Eclipse" />
<meta name="description" content="
Eclipse is an easy—to—use website made for talking to friends. Sign up today and start chatting!" />
    <meta content="#EE86FF" data-react-helmet="true" name="theme-color" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://eclipsechat.net/" />
<meta property="og:title" content="Chatting just got easier" />
    <meta name="og:site_name" content="Eclipse">
<meta property="og:description" content="
Eclipse is an easy—to—use website made for talking to friends. Sign up today and start chatting!" />
<meta property="og:image" content="https://i.ibb.co/8B3sVDY/Frame-1-2.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://eclipsechat.net/" />
<meta property="twitter:title" content="Eclipse - Chatting just got simpler" />
<meta property="twitter:description" content="
Eclipse is an easy—to—use website made for talking to friends. Sign up today and start chatting!" />
<meta property="twitter:image" content="https://i.ibb.co/8B3sVDY/Frame-1-2.png" /><meta name="viewport" content="width=device-width, initial-scale=1" />
<style>body,html {margin:0;padding:0}</style>
<body>
  <style>body {
  margin:0;
  padding:0;
  background: url("https://i.ibb.co/WBgWDkN/Screenshot-2023-07-18-2-04-20-AM.png");
  background-size:cover;
  backdrop-filter:blur(17px) brightness(0.25);
  
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

body > div {
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
}</style>
<div><img src="https://i.ibb.co/NmnScTx/output-onlinegiftools.gif" width="150"></div>
</body><script>
  async function getHTML() {
  const response = await fetch(
  'https://codegen.plasmic.app/api/v1/loader/html/preview/6q2FNYgZq8HVGZ2JWqCcgk/Homepage?hydrate=1&embedHydrate=1',
  {
    headers: {
      // Your project ID and public API token
      'x-plasmic-api-project-tokens': '6q2FNYgZq8HVGZ2JWqCcgk:QcI6Jo7TsXdGE1tJduP6B0DlUOTM38rVfIpUGnOdI2mz18jJ6gGOSFExNzG1yl0dVH4EMwDdmVn4UysDlCw'
      // You can find your PROJECT token by visiting
      // https://studio.plasmic.app/projects/[6q2FNYgZq8HVGZ2JWqCcgk]/docs/loader#showToken=true
    }
  }
);
const result = await response.json();
document.body.innerHTML = result.html;

// If you want hydration to happen, load and call the hydrater
if (window.__plasmicHydrater) {
  window.__plasmicHydrater.hydrateAll();
} else {
  var script = document.createElement('script');
  script.src = 'https://codegen.plasmic.app/static/js/loader-hydrate.js';
  document.body.appendChild(script);
}
  }

  getHTML()
  </script>